* {
  --font-serif: var(--font-source-serif);
  --font-sans: var(--font-source-sans);
}

body {
  font-family: var(--font-sans);
}

/* Custom radial gradient utility */
.bg-radial-gradient {
  background: radial-gradient(circle at center, var(--tw-gradient-stops));
}

body,
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
